<div class="container">
  <div class="row">
    <form [formGroup]="logInForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input type="text" class="form-control" formControlName="email" placeholder="{{emailInput}}" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" formControlName="password" placeholder="Your Password *" required />
        </div>
        <div class="form-group">
            <input type="submit" class="btnSubmit" [disabled]="!logInForm.valid" value="Submit">
        </div>
        <div class="form-group">
            <a href="#" class="ForgetPwd">Forget Password?</a>
        </div>
    </form>
  </div>
</div>