<div>Question {{nbQ}} / {{nbQuestion}}</div>

<mat-card>{{question.ask}}</mat-card>

<br/>

<div class="row-option">
    <button class="option" mat-raised-button (click)="onSelect($event, optionA)">{{question.optionA}}</button>
    <button class="option" mat-raised-button (click)="onSelect($event, optionB)">{{question.optionB}}</button>
</div>

<div class="row-option">
    <button class="option" mat-raised-button (click)="onSelect($event, optionC)">{{question.optionC}}</button>
    <button class="option" mat-raised-button (click)="onSelect($event, optionD)">{{question.optionD}}</button>
</div>

<button class="submit" mat-raised-button color="warn" [disabled]='selected == null' (click)="submit()">{{buttonLabel}}</button>