<!-- <div *ngIf="word then noWord else wordDetail"></div> -->
<ng-template [ngIf]="!openModify" [ngIfElse]="wordDetail">
    <div class="word-detail">
        <h3>Please select a word.</h3>
    </div>
</ng-template>
<ng-template #wordDetail>
    <div class="word-detail">
        <h3 [innerHTML]="word | wordType"></h3>
        <h4>{{word.translate}}</h4>
    </div>
    <hr />
    <div class="word-detail" *ngIf="modify">
        <form [formGroup]="modifyForm">
            <label>Modify your definition:</label>
            <input type="text" class="form-control" [value]="word.translate" formControlName="translate" required />
            <label>Modify word type:</label>
            <select class="form-control" formControlName="type" required>
                <option *ngFor='let type of cw' value='{{type.id}}' [selected]="word.type == type.id">
                    {{type.typename}}
                </option>
            </select>
            <label>Move to box:</label>
            <select class="form-control" formControlName="idbox">
                <option *ngFor='let box of boxCanModify' value='{{box.id}}' [disabled]='box.id > word.idbox'
                    [selected]="box.id == word.idbox">{{box.name}}</option>
            </select>
            <label>Modify your example 1:</label>
            <input type="text" class="form-control" [value]="word.example1" formControlName="example1" required />
            <label>Modify your example 2:</label>
            <input type="text" class="form-control" [value]="word.example2" formControlName="example2" required />
        </form>
        <div class="form-group alert alert-warning" [hidden]="hiddenMessage">
            Please review all fields before submitting.
        </div>
        <hr />
    </div>
    <div class="word-detail">
        <div *ngIf="!modify">
            <button class="form-control btn-modify" (click)="modify = true;">Modify</button>
        </div>
        <div *ngIf="!modify">
            <button class="form-control btn-del" (click)="confirmDelete()">Delete</button>
        </div>
        <div *ngIf="!modify">
            <button class="form-control btn-cancel" (click)="closeModify()">cancel</button>
        </div>
        <div *ngIf="modify">
            <button class="form-control btn-save" (click)="submitForm()">Save</button>
        </div>
        <div *ngIf="modify">
            <button class="form-control btn-cancel" (click)="modify = false;">Cancel</button>
        </div>
    </div>
</ng-template>