.word-detail{
    display: block;
    width: 100%;
}

.word-detail-option{
    display: block;
    width: 100%;
}

.btn-modify{
    background-color : orange;
}

.btn-del{
    background-color : red;
    color: white;
}

.btn-save{
    background-color : green;
    color: white;
}

.btn-cancel{
    background-color : blue;
    color: white;
}