<div id="signupform">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
      <input matInput placeholder="Your name" [formControl]="nameInput" [errorStateMatcher]="matcher">
      <mat-error *ngIf="nameInput.hasError('required')">
        Please enter your name
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Email" [formControl]="emailInput" [errorStateMatcher]="matcher">
      <mat-error *ngIf="emailInput.hasError('email') && !emailInput.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailInput.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Enter your password" type="password" [formControl]="password1Input"
        [errorStateMatcher]="matcher">
      <mat-error *ngIf="password1Input.hasError('minlength') && !password1Input.hasError('required')">
        Password must have at least 6 digits.
      </mat-error>
      <mat-error *ngIf="password1Input.hasError('required')">
        Password is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Re-enter your password" type="password" [formControl]="password2Input"
        [errorStateMatcher]="matcher" (keyup)="checkConfirmPassword($event)">
      <mat-error *ngIf="confirmPasswordMatch" >
        Password does not match.
      </mat-error>
    </mat-form-field>
    <button mat-button [disabled]='signupForm.invalid' type="submit">Register</button>
  </form>
</div>